{% load mptt_tags %}
{% load navigation_tags %}
{% get_navigation_items "top" as topnav %}

    <div  class="clearfix" id="header">
        <div class="col-md-12">
            <div class="container">
                <div class="col-md-6">
                  <a href="{% url "home" %}">
                    <img class="img-responsive" src="/assets/img/logo.png" id="logo" />
                  </a>
                </div>
                <div class="col-md-3">
                    <div class="dropdown" id="social">
                        <button class="btn btn-default  dropdown-toggle dark" data-toggle="dropdown" aria-expanded="false" type="button">
                          <a style="color:white" href="#">
                            <i class="fa fa-youtube-play box red"></i> 
                            YOUTUBE
                            <span class="caret pull-right"></span>
                          </a>
                          
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                              <a style="color:black" href="hhttps://www.youtube.com/channel/UCcCrg_UREhn6hVabWMC07fg">
                                <i class="fa fa-youtube-play box red"></i> 
                                YOUTUBE 
                              </a>
                            </li>
                            <li role="presentation">
                              <a style="color:black" href="https://twitter.com/gamajuegos">
                                <i class="fa fa-twitter box blue"></i>
                                Twitter 
                              </a>
                            </li>
                            <li role="presentation">
                              <a style="color:black" href="https://www.facebook.com/gamajuegostv">
                                <i class="fa fa-facebook-f box bluedark"></i> 
                                Facebook 
                              </a>
                            </li>
                            <li role="presentation">
                              <a style="color:black" href="{% url "rss" %}">
                                <i class="fa fa-feed box yellow"></i>Rss 
                              </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <nav class="navbar navbar-default navigation-clean">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-link" href="{% url "home" %}"><i class="fa fa-home"></i></a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                       
                         {% recursetree topnav %}
                         {% url "page_details" slug=node.slug as home_url  %}
                          <li {% if request.get_full_path == home_url %}class="active"{% endif %}{% if not node.is_leaf_node %}class="dropdown"{% endif %}>
                            <a href="{{home_url}}"
                              {% if not node.is_leaf_node %}
                                class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                              {% endif %}
                            >
                              {{ node.title }} 
                              {% if not node.is_leaf_node %}
                                <span class="caret"></span>
                              {% endif %}
                            </a>
                            {% if not node.is_leaf_node %}
                            <ul class="dropdown-menu" role="menu">
                                 {{ children }}
                            </ul>
                            {% endif %}
                          </li>
                        {% endrecursetree %}
                          {% url "games"  as home_url  %}
                          <li {% if request.get_full_path == home_url %}class="active"{% endif %}>
                            <a href="{{home_url}}">
                              Juegos
                            </a>
                          </li>
                           {% url "games_engines"  as home_url  %}
                          <li {% if request.get_full_path == home_url %}class="active"{% endif %}>
                            <a href="{{home_url}}">
                              Motores de Juegos
                            </a>
                          </li>
                           {% url "videos"  as home_url  %}
                          <li {% if request.get_full_path == home_url %}class="active"{% endif %}>
                            <a href="{{home_url}}">
                              Videos
                            </a>
                          </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
<div id="search_form" class="padding-top-20 padding-bottom-20 background-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="{% url "search" %}" class="form-inline">
                    <div class="form-group col-md-8 col-xs-10">
                        <input class="form-control" name="q" type="text" placeholder="Buscar">
                    </div>
                    <button class="btn  no-style font-white" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>