{% load set_var %}
{% load posts_tags %}
{% url "home"  as page_details  %}

 
    {% get_recent_articles 1 "video" as videos %}
    {% get_features_articles 4 "game_engine" as gane_engines %}
    {% get_features_articles 4 "game" as games %}
    <div style="margin: 25px">
        
       <!-- anuncio-ajustable -->
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3606690194001059"
     data-ad-slot="1691070402"
     data-ad-format="auto"></ins>


    </div>
   
        
    <h6 class="title padding-20 border-left-5">Videos Recientes</h6>
    <div class="row">
        {% for article in videos %}
        
            <div>
                <div class="text-left padding-10 container-relative recalculate-font-size dark2">
                    <img class="img-responsive box-inner-shadow" src="{{article.thumbnail}}">
                    <div class="text margin-20">
                        <a href="{% url "page_details" slug=article.slug %}"  class="font-bold font-white sub-title"> 
                            <i class="glyphicon glyphicon-expand"></i>
                            {{article.title}}
                        </a>
                    </div>
                    
               </div>
            </div>
    
        {% endfor %}
    </div>


    <div class=" recalculate-font-size">
        <h6 class="title padding-20 border-left-5-dark">Top Game Engines</h6>
        <div class="background-dark cover-background">
            {% for g in gane_engines %}
            <div class="background-dark cover-background">
                <div class="padding-20 hover-dark" >
                <span class="title font-bold font-yellow">{{forloop.counter}}</span>
                <a href="{% url "page_details" slug=g.slug %}" class="title font-white">{{g.title}}</a></div>
            </div>
           {% endfor %}
        </div>
    </div>



    <div class=" recalculate-font-size">
        <h6 class="title padding-20 border-left-5">Top Juegos</h6>
        <div class="background-dark cover-background">
            {% for g in games %}
            <div class="background-dark cover-background">
                <div class="padding-20 hover-dark" style="background: url({{g.featured_image}});">
                <span class="title font-bold font-yellow">{{forloop.counter}}</span>
                <a href="{% url "page_details" slug=g.slug %}" class="title font-white">{{g.title}}</a></div>
            </div>
           {% endfor %}
        </div>
    </div>
    


                   