{% extends "layouts/default.html" %}
{% load set_var %}
{% load media_tags %}
{% load posts_tags %}
{% load humanize %} 
{% load comment_tags %}
{% load markup_tags  %}
{% block extra_meta %}
    <meta property="og:url" content="{{current_domain}}{% url "page_details" slug=post.slug %}"/>
    <meta property="og:title" content="Gamajuegos.com | {{post.meta_title}}"/>
    <meta property="og:description" content="{{post.meta_description}}"/>
    {% if post.featured_image|length > 0 %}
    <meta property="og:image" content="{{current_domain}}{{post.featured_image}}"/>
    {% endif %}
 {% endblock %}
    {% block title %} | {{post.meta_title}} {% endblock %}
    {% block description %} | {{post.meta_description}} {% endblock %}
    {% block content %}
    {% get_oembed_object post.content|get_markdown|album_short_code as post_content %}





    {% get_recent_articles_by_tags 4 "post" post.slug as news %}
    {% get_recent_articles_by_tags 4 "video" post.slug as videos %}
    {% get_features_images_by_tags 4 post.slug as images %}

 
      <br>
      <br>
       <div class="row">
           <div class="col-md-4">
                {% get_media_image post.slug as media_imagex %}
                {% if media_imagex != None %}
                <img class="img-responsive" src="/assets/media/{{media_imagex.image}}">
                {% endif %}
                <div class="padding-20">
                   
                    <a  rel="nofollow"  href="https://twitter.com/intent/tweet?text={{post.excerpt}}&via=gamajuegos&url={{current_domain}}{% url "page_details" slug=post.slug %}" target="_blank" class="padding-10 blue font-white"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/sharer.php?u={{current_domain}}{% url "page_details" slug=post.slug %}" class="padding-10 blue2 font-white padding-left-15 padding-right-15"><i class="fa fa-facebook-f"></i></a>
                    <a href="mailto:?subject={{post.title}}&body={{current_domain}}{% url "page_details" slug=post.slug %}" class="padding-10 background-dark font-white"><i class="fa fa-envelope-o"></i></a>
                </div>
            </div>
           <div class="col-md-8">
                <h1>{{post.title}}</h1>
                <p class="paragraph padding-5 border-bottom recalculate-font-size">
                    {{post.excerpt}}
                </p>
           </div>
       </div>


        {{ post_content|safe}}


                    <div>
                        <ul class="nav nav-tabs font-bold">
                            <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Imagenes </a></li>
                            <li><a href="#tab-2" role="tab" data-toggle="tab">Videos </a></li>
                            <li><a href="#tab-3" role="tab" data-toggle="tab">Noticias </a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <h6 class="title padding-20 border-left-5-dark text-left">Imagenes Relacionadas</h6>
                                <div class="margin-20">
                                    {% if images|length > 0 %}
                                    <div id="slider" class="container-relative margin-bottom-20 padding-bottom-20 padding-bottom-57">
                                        {% for n in images %}
                                        <div class="item">
                                            <div class="container-relative">
                                                <a target="_blank" href="/assets/media/{{n.image}}" class="external-link">
                                                    <i class="glyphicon glyphicon-fullscreen yellow font-white padding-5"></i>
                                                </a>
                                                <img class="img-responsive" src="/assets/media/{{n.image}}">
                                            </div>
                                        </div>
                                         {% endfor %}
                                        {% if images|length > 0 %}
                                        <a href="#" class="next font-white dark"> <i class="glyphicon glyphicon-chevron-right"></i></a>
                                        <a href="#" class="prev font-white dark"> <i class="glyphicon glyphicon-chevron-left"></i></a>
                                         {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                <h6 class="title padding-20 border-left-5">Videos Recientes</h6>
                                <div class="row">
                                    
                                    {% for n in videos %}

                                    <div class="col-lg-5 col-md-6 col-sm-6 margin-bottom-20">
                                        <div>
                                            <div class="text-left padding-10 container-relative recalculate-font-size dark2">
                                                <img class="img-responsive box-inner-shadow" src="{{n.thumbnail}}">
                                                <div class="text margin-20">
                                                    <a href="{% url "page_details" slug=n.slug %}"  class="font-bold font-white sub-title"> 
                                                        <i class="glyphicon glyphicon-expand"></i> 
                                                        {{n.title}} 
                                                    </a>
                                                </div>
                                                 
                                                </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="col-md-12 padding-top-20 padding-bottom-20">
                                    <a href="{% url "videos_tags_sub_tag" post.slug 'videos' %}" class="btn btn-primary pull-right"> + Videos </a>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-3">
                                <div class="margin-20">
                                    <div class="col-md-12 white-background">
                                        <div class="row no-row">

                                            {% for n in news %}
                                            <div class="col-md-6 border-bottom-bach">
                                                <div class="row padding-top-20 padding-bottom-20">
                                                    <div class="col-md-12 col-sm-3">
                                                        <img class="img-responsive" src="{{ n.featured_image }}">
                                                        <span class="label label-warning">Noticias </span>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div><a href="{% url "page_details" slug=n.slug %}" class="title">{{n.title}}</a></div>
                                                        <div> 
                                                            <a href="#" class="autor">{{post.autor.nick}} </a>
                                                            <time  class="font-12" datetime="{{ post.datetime|date:"Y-m-d H:i:s" }}">
                                                                Hace {{ post.created|naturaltime}}
                                                            </time>                     
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                              <div class="col-md-12 padding-top-20 padding-bottom-20"><a href="{% url "posts_tags_sub_tag" post.slug 'noticias' %}" class="btn btn-primary pull-right"> + Noticias </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}
{% block extra_script %}

  <script>
      var ready = function(e)
      {
        
        var elem = $("#slider");
        var items_length  =  elem.find('.item').length;
        var index = 0;
        nextx = elem.find('.next');
        prevx = elem.find('.prev');
        var next = function (e)
        {
            e.preventDefault();
           
            index++;
            if (index >= items_length)
            {
                index = items_length-1;
            }
            elem.find('.item').css('display','none');
            elem.find('.item').eq(index).css('display','block');
        };
        var prev = function (e)
        {
            e.preventDefault();

            index--;
            if (index <= 0)
            {
                index = 0;
            }
            elem.find('.item').css('display','none');
            elem.find('.item').eq(index).css('display','block');
        };
        nextx.on('click', prev);
        prevx.on('click', next);
      }
      $(document).on('ready',ready);
  </script> 

{% endblock %}