<div class="row">
	<div class="col-md-12">
    
	    <div class="block block-condensed">


	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'MEDIA_LABEL' | translate}}</h5>
	                <p>{{ 'IMAGE_PLURAL_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content">
            	<div class="tab-content">

	            	<div class="tab-pane active" id="pills-1">
	            		
		            	<div class="row">
			               	<div class="col-md-12">
			               		<dropzone confirm-action="makeTodos()"></dropzone>
			                </div>		                    
			           </div>
	            	</div>
	        	</div>
	        </div>                            
	    </div>
    
	</div>

</div>